<div class="main-content">
  <div class="row justify-content-center min-vh-100">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="registration-card shadow-sm">
        <div>
          <div class="text-center mb-4">
            <h2 class="registration-title">Host Identity Verification</h2>
            <p class="text-muted">Help us confirm it's you!</p>
          </div>
          <div class="text-center mb-4">
            <h5 class="subtitle-style">
              For everyone's safety, we ask for a government ID. This helps keep
              our community real and trustworthy.
            </h5>
          </div>

          <form [formGroup]="registrationForm">
            <!-- Capture front side of ID -->
            <div class="photo-container mb-4">
              <input
                type="file"
                class="form-control photo-input"
                id="identityPhotosFront"
                (change)="onFrontIdSelected($event)"
                accept="image/png, image/jpg, image/jpeg"
              />
              <label for="identityPhotosFront" class="photo-upload-label">
                <i class="bi bi-camera"></i>
                <span class="upload-text">Front of ID (with photos) *</span>
                <span class="upload-subtext"
                  >Allowed file types: JPEG, JPG, PNG</span
                >
              </label>
            </div>

            <!-- Preview selected image: Front -->
            <div class="selected-images mt-3 mb-4" *ngIf="frontIdPreviewUrl">
              <div class="row g-3">
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="image-preview-card">
                    <img [src]="frontIdPreviewUrl" class="preview-image" />
                    <button
                      type="button"
                      class="btn btn-light btn-sm remove-btn"
                      (click)="removeFrontId()"
                    >
                      <i class="bi bi-x-circle"></i>
                    </button>
                    <div class="image-info">
                      <small class="text-muted">{{ frontId?.name }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Validation Messages for property images -->
            <div
              *ngIf="
                registrationForm.get('identityPhotosFront')?.invalid &&
                registrationForm.get('identityPhotosFront')?.touched
              "
            >
              <div
                *ngIf="registrationForm.get('identityPhotosFront')?.errors?.['required']"
                class="text-danger validation-error-photo"
              >
                Please select at least one image
              </div>
            </div>

            <!-- Capture Back side of ID -->
            <div class="photo-container">
              <input
                type="file"
                class="form-control photo-input"
                id="identityPhotosBack"
                (change)="onBackIdSelected($event)"
                accept="image/png, image/jpg, image/jpeg"
              />
              <label for="identityPhotosBack" class="photo-upload-label">
                <i class="bi bi-camera"></i>
                <span class="upload-text">Back of ID *</span>
                <span class="upload-subtext"
                  >Allowed file types: JPEG, JPG, PNG</span
                >
              </label>
            </div>

            <!-- Preview selected image: Back -->
            <div class="selected-images mt-3 mb-4" *ngIf="backIdPreviewUrl">
              <div class="row g-3">
                <div class="col-md-3 col-sm-4 col-6">
                  <div class="image-preview-card">
                    <img [src]="backIdPreviewUrl" class="preview-image" />
                    <button
                      type="button"
                      class="btn btn-light btn-sm remove-btn"
                      (click)="removeBackId()"
                    >
                      <i class="bi bi-x-circle"></i>
                    </button>
                    <div class="image-info">
                      <small class="text-muted">{{ backId?.name }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Validation Messages for property images -->
            <div
              *ngIf="
                registrationForm.get('identityPhotosBack')?.invalid &&
                registrationForm.get('identityPhotosBack')?.touched
              "
            >
              <div
                *ngIf="registrationForm.get('identityPhotosBack')?.errors?.['required']"
                class="text-danger validation-error-photo"
              >
                Please select at least one image
              </div>
            </div>

            <!-- Navigation Buttons -->
            <div class="d-grid mt-3">
              <button
                type="button"
                class="btn btn-primary submit-btn"
                (click)="submitForm()"
              >
                Complete Registration
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
